.codepen {
  width: 24px;
  height: 24px;
}
.gear_without_dimensions {
  width: 229.6px;
  height: 259.9px;
}
.github {
  width: 22px;
  height: 24px;
}
.ios {
  width: 32px;
  height: 32px;
}
.mail {
  width: 28px;
  height: 24px;
}
.skull {
  width: 150px;
  height: 150px;
}